<%= render "home/header/header_top" %>

<div class="row header">
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h1 align="center">ARE YOU LOOKING FOR A WEB DEVELOPER?</h1>
    </div>
  </div>
  
  <div class="row">
    <div align="center" class="col-xs-12">
      <button class="button-yes-header">YES!</button>
    </div>
  </div>
  
  <div class="row" style="margin-top: 50px;">
    <div align="right" class="col-xs-4">
      <button class="button-whoIam">WHO I AM</button>
    </div>
    <div align="center" class="col-xs-4">
      <button class="button-portfolio">PORTFOLIO</button>
    </div>
    <div class="col-xs-4">
      <button class="button-whatIdo">WHAT I DO</button>
    </div>
  </div>
  
</div>
</div><!--.row .header-->