<div class="modal fade" id="saasModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">PROJECT MANAGEMENT</h3>
      </div>
      <div class="modal-body">
        <h4>
          &nbsp;&nbsp;&nbsp;&nbsp;
          This application allows you to create projects and add users (contributors)
          to them. You can set the title, details about the project, and upload
          files related to it.
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;
          The money reception is made thanks to Stripe API.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;
          The file storage is possible thanks to Amazon Web Services.
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>