<!--<div class="row main">-->
<!--<div class="col-xs-12">-->
<!--<div class="header-background">-->
<header>
  <%= render "home/header/header" %>
</header>
<!--</div>.header-background-->
<!--</div>-->
<!--</div>.row .main-->