body {
  background-color: #070719 !important;
  color: white !important;
  font: normal 35px/normal "Times New Roman", Times, serif !important;
}

.container-fluid {
  //border-radius: 5px;
  margin: 10px !important;
  padding: 0px !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}